/*Some necessary adjustments*/
h1, body, html, main {
  margin: 0;
}
/*Import the font and set the default size*/
html {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#recipe {
  width: 900px;
}

#photo {
  width: 900px;
  height: 600px;
  background-image: url("../images/soup.jpg");
  background-size: 900px 700px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 50px;
  font-weight: 600;
}

#description {
  margin: 50px 50px 10px 50px;
}

#info {
  text-align: center;
}

hr {
  margin: 0 50px;
}

#list {
  margin: 20px 50px;
}

ul {
  margin: 0;
}
ul.dashed {
  list-style-type: none;
}
ul.dashed > li {
  text-indent: -5px;
}
ul.dashed > li:before {
  content: "-";
  text-indent: -5px;
}

.dashed {
  padding-left: 20px;
}

#info2 {
  text-align: center;
}

#directions {
  margin: 20px 50px;
}

.text {
  margin-left: 20px;
  margin-bottom: 40px;
}